::deep(.el-select) {
    width: 100%;
  }
  
  :deep(.cell) {
    word-break: break-word;
  }
  
  .box {
    padding: 0 10px 0 20px;
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #ccc;
    opacity: 0.6;
  }
  
  .box_1 {
    border: 1px solid rgba(209, 213, 219, var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
  
  }
  
  .box_2 {
    border: 1px solid #f4f8fd;
    background-color: #f4f8fd;
  }
  
  .box_3 {
    border: 1px solid #f8dec9;
    background-color: #f8dec9;
  }
  
  .box_4 {
    border: 1px solid #fce5e1;
    background-color: #fce5e1;
  }
  .duplicate-status + .duplicate-status {
    margin-left: 10px;
  }
  .active {
    opacity: 1 !important;
  }
  .right_1 {
    border-left: 11px solid rgba(209, 213, 219, var(--tw-bg-opacity)) !important;
  }
  .right_2 {
    border-left: 11px solid #f4f8fd !important;
  }
  
  .right_3 {
    border-left: 11px solid #f8dec9 !important;
  }
  
  .right_4 {
    border-left: 11px solid #fce5e1 !important;
  }
  .triangle-right {
    position: absolute;
    right: -12px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 11px solid #ccc;
  }
  .custom-after::after {
    content: '';
    position: absolute;
    z-index: 1998;
    width: 11px;
    border-style: solid;
    height: 100%;
    left: -1px;
    border-bottom-width: 12px;
    border-left-width: 10px;
    border-top-width: 12px;
    border-bottom-color: transparent;border-top-color: transparent;
    --tw-border-opacity: 1;
    border-left-color: rgba(255, 255, 255, var(--tw-border-opacity));
  }