$main-placeholder: #6596f3;
$main-shadow: 0 get-vw(1px) get-vw(9px) 1px $main-placeholder;
$color-border: #eee;
$light-gray: #cecece;
$white: #fff;
$dark-gray: #b0b3bc;
$table-row-border-bottom: #c8dbff;
$light-blue: #ebf5fa;
$main-color: #2c6dda;
$black:#000;
$color-warning: #f96447;
$brown: #BF8D5C;
$foundry: foundry;
$main-color-opacity:rgba(44, 109, 218, 0.05);
@font-face {
    font-family: foundry;
    src: url('@/assets/fonts/Fort_Foundry_Rift_Regular.otf');
}